.App--input {
  margin: 2rem;
  display: flex;
  align-items: center;

  &__search {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    p {
      color: black;
      border: solid 1px black;
      padding: 0.25rem;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  input {
    width: 15rem;
    height: 3.5rem;
    box-sizing: border-box;

    &::placeholder {
      font-size: 1.25rem;
    }
  }

  i:hover {
    cursor: pointer;
  }
}
